@import "../../utils/colors.scss";
@import "../../utils/police.scss";
@import "../../utils/mixins.scss";


.accueil{
    max-width: 1240px;
    width: 100%;
    margin: 20px auto;
    
    @media (max-width: 1024px) {
        width: 90%;
    }

    .title__background{
        @include backgroundImg("../../assets/background-accueil.png", 0.6);
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            height: 110px;
            background-position: -400px;
        }
    }
    
    .main__title{
        padding:10px;
        color: white;
        margin: auto;
        font-size: 48px;
        font-family: $mainPolice;
        
        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

    .logements{
        display: grid;
        grid-template-columns: repeat(auto-fill, 340px);
        justify-content: space-around;
        background-color: $background-color-lightgrey;
        border-radius: 25px;
        padding: 30px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, auto);
            background-color: white;
            padding: 0;
        }
    }

    .logement__link{
        margin-bottom: 30px;
    }
}

