@import '../../utils/colors.scss';
@import '../../utils/police.scss';
@import '../../utils/mixins.scss';
@import '../../utils/infosSizes.scss';

.logement{
    max-width: 1240px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px auto;

    @media (max-width: 768px) {
        width: 90%;
        margin: 30px auto;
    }

    .presentation{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .title__location__tags{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title{
        @include textFormatRed();
        font-size: 36px;
        font-weight: 500;
        margin: 0px;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }

    .location{
        font-family: $mainPolice;
        font-size: 18px;
        margin: 10px 0;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    .tags{
        display: flex;
        padding: 0;

        @media (max-width: 768px) {
            margin-top: 5px;
        }
    }

    .tag{
        background-color: $red;
        font-size: 14px;
        list-style: none;
        margin: 0 10px 0 0;
        border-radius: 10px;
        font-family: $mainPolice;
        font-weight: 700;
        padding: 5px 30px;
        color: white;

        @media (max-width: 768px) {
            font-size: 10px;
            padding: 10px;
        }
    }

    .host__rate{
        @media (max-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px
        }
    }

    .star{
        @media (max-width: 768px) {
            height: 18px;
            width: 18px;
        }
    }

    .hote-infos{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .hote-name{
        @include textFormatRed();
        font-size: 18px;
        margin-right: 10px;
        width: 80px;
        text-align: end;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    .hote-picture{
        height: 64px;
        width: 64px;
        object-fit: cover;
        border-radius: 50%;

        @media (max-width: 768px) {
            height: 32px;
            width: 32px;
        }
    }

    .description__equipements{
        display: flex;
        width: 100%;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }

        &--resize{
            width: $medium;

            @media (max-width: 768px) {
                width: $small;
            }
        }
    }
}
