@import "../../utils/mixins.scss";

.a-propos{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    &__infos{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .background{
        width: 100%;
        @include backgroundImg("../../assets/background-apropos.png", 0.3);
    }
}
