@import '../../utils/colors.scss';
@import '../../utils/police.scss';
@import '../../utils/infosSizes.scss';

.infos{
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 30px;
    width: $large;

    @media (max-width: 768px) {
        width: $small;
    }

    &-title{
        background-color: $red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 10px;
        font-family: $mainPolice;
        font-weight: 700;
        margin: 0;
        z-index: 1;
        border-radius: 5px;
        font-size: 18px;

        @media (max-width: 768px) {
            font-size: 13px;
            font-weight: 800;
        }
    }

    &-more-container {
        overflow: hidden;
        transform :translateY(-2px);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &-more-content{
        margin-top: -220px;
        margin-bottom: 0px;
        padding: 10px;
        font-size: 18px;
        font-family: $mainPolice;
        transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
    }

    &-more--show{
        margin-top: 0px;
        background-color: $background-color-lightgrey;
        
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    &__arrow{
        transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;

        @media (max-width: 768px) {
            height: 18px;
            width: 18px;
        }
    }

    &__arrow--rotate__bot{
        transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
    }

    &-equipement{
        list-style: none;
        font-size: 18px;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
}