@import '../../utils/police.scss';

.slides{
    width: 100%;
    position: relative;
    height: 415px;
    display: flex;

    @media (max-width: 768px) {
        height: 255px;
    }

    &__arrow{
        height: 80px;
        width: 45px;
        position: absolute;
        bottom: 0;
        top: 0;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;

        @media (max-width: 768px) {
            height: 20px;
            width: 12px;
        }

        &--left{
            right: 95%;
        }

        &--right{
            left: 95%;
        }
    }

    &__picture{
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
    }

    &__count{
        position: absolute;
        color: white;
        font-size: 18px;
        font-family: $mainPolice;
        top: 85%;
        left: 50%;

        @media (max-width: 768px) {
            display: none;
        }
    }

}